<form class="row" [formGroup]="service.taskForm"
    (submit)="onSubmit()" [class.submitted] = "submitted">
    <div class="col-12 mb-3">
        <label class="form-label"> Name </label>
        <input class="form-control form-control-lg" placeholder="Enter your name"
        formControlName="name">
    </div>
    <div class="col-12 mb-3">
        <label class="form-label"> Task </label>
        <input class="form-control form-control-lg" placeholder="Enter your task here"
        formControlName="task">
    </div>
    <div class="class col-12 d-grid">
        <button class="btn btn lg btn-primary" type="Submit">Submit</button>
    </div>
</form>