form label {
    color: grey;
    text-transform: uppercase;
}

form input {
    font-weight: 500;
}

form input::placeholder {
    color: grey;
    font-weight: 300
}

form button[type=submit]{
    text-transform: uppercase;
}

form.ng-invalid.submitted input.ng-invalid{
    border-color: red
}